{% extends 'base.html.twig' %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Login</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
   {% for person in persons %}
    <tr scope="row">
      <td>{{person.login}}</td>
      <td>{{person.firstname}}</td>
      <td>{{person.lastname}}</td>
      <td>{{person.createdat.date}}</td>
      <td>{{person.updatedat.date}}</td>
      <td><a href="/person/{{person.id}}/edit" class="btn btn-primary active" role="button" aria-pressed="true">edit</a></td>
      {# <td><a href="/person/{{person.id}}/delete" class="btn btn-danger active" role="button" aria-pressed="true">delete</a></td> #}
      <form action="/Persons/{{person.id}}/delete" method="POST">
        {# <td><a href="/person/{{person.id}}/delete" class="btn btn-danger active" role="button" aria-pressed="true">delete</a></td> #}
        <td><button class="btn btn-danger">dupa</button></td>
        <input type="hidden" name="_method" value="DELETE">
      </form>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}